[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]
onlyIncludeFiles = ["dist", "node_modules", "package.json"]

[start]
cmd = "node dist/main"
